#photographie_page {
    width: 100%;
    height: auto;
}
.fond_photographie {
    background-image: url(../../public/images/photo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sous_photographie {
    width: 100%;
    max-width: 570px;

    height: 100px;
    text-align: center;
}
.sous_photographie h1 {
    color: white;
}

.sous_photographie h2 {
    color: white;
}
.sous_photographie p {
    color: white;
}

.service_sous {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.particuliers_photo, .pro_photographie {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-top: 20px;
}

.picture_nopro, .picture_pro {
    width: 300px;
    height: auto;
    margin-right: 20px;
}

.picture_nopro img, .picture_pro img {
    width: 300px;
    height: auto;
}

.contexte {
    width: 100%;
    max-width: 650px;
}

.contexte h3 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 27px;
}
._button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.contexte button {
    background-color: #FFD400;
    border: none;
    width: 180px;
    height: 30px;
    text-transform: uppercase;
    font-size: 18px;
}

.contexte span {
    background-color: #FFD400;
    padding-left: 10px;
}

#portfolio span{
    background-color: #FFD400;
    padding-left: 10px;
}
#portfolio h2 {
    text-align: center;
}
#portfolio {
    height: 600px;
}

@media (max-width: 768px) {
    .particuliers_photo, .pro_photographie {
        flex-direction: column;
        align-items: center;
    }

    .picture_nopro, .picture_pro {
        margin-right: 0;
        margin-bottom: 20px;
    }
}